body {
  background-image: url("../pics/background.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Abel';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(0, 0, 0, 0.262);
  width: 99%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  list-style: none;
}
select {
  height: 100%;
}
label {
  background-color: white;
}
a {
  color: white;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color:rgb(247, 255, 7)
}

/*  */
.main-header {
  font-family: 'Allerta Stencil';
  color: rgb(236,100,75);
  animation: wheelHueColor 10s infinite;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
}

@keyframes wheelHueColor {
  from, to { color: rgb(236,100,75); }
  10%      { color: rgb(219,10,91); }
  20%      { color: rgb(174,168,211); }
  30%      { color: rgb(89,171,227); }
  40%      { color: rgb(37,116,169); }
  50%      { color: rgb(3,201,169); }
  60%      { color: rgb(22,160,133); }
  70%      { color: rgb(233,212,96); }
  80%      { color: rgb(243,156,18); }
  90%      { color: rgb(236,240,241); }
}
@media screen and (max-width: 780px) {
  .main-header {
    font-size: 3.4rem;
  }
}

/*  */
.home-container {

}
.featured-hotels-heading {
  font-family: 'Allerta Stencil';
  font-size: 4rem;
  font-weight: bold;
}
.featured-hotels-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.single-featured-hotel {
  text-align: center;
  margin: 10px;
}
.single-featured-hotel p {
  text-align: center;
  margin: 0;
  font-size: 0.9em;
}
.hotel-pic-in-featured-page {
  height: 80%;
  width: 100%;
  border-radius: 20px;
}
.displayed-planets-container {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.single-planet-container {
  height: 350px;
  width: 350px;
  margin: 5px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.773);
  opacity: 90%;
}
.single-planet-container:hover {
  opacity: 100%;
  cursor: pointer;
}
.single-planet-image {
  height: 70%;
  width: 87%;
  border-radius: 20px;
}

.search-hotels-container {
 
  width: 40%;
  margin: auto;
 
}
.search-hotels-container h1 {
  font-size: 2.5rem;
}
.single-hotel-displayed {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.636);
  color: rgb(248, 251, 255);
  width: 70%;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}
.single-hotel-displayed:hover {
  background-color: rgba(4, 0, 44, 0.782);
  cursor: pointer;
}
.hotel-pic-in-search-page {
  width: 100%;
  height: 300px;
  border-radius: 30px;
}
.hotel-pic-in-show-page {
  width: 60%;
  height: 450px;
  border-radius: 30px;
}
.search-bar-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(black, rgb(0, 0, 25));
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  font-size: 1.8em;
}
.search-bar-container > div, label, select, button {
  margin-right: 10px;
  margin-left: 10px;
  height: 100%;
}
.date-picker {
  background-color: white;
  height: 100%;
}
.date-picker input {

}
.error-messages {
  color: red;
  font-size: 1.5rem;
}
.nav-bar {
  background-color: rgb(0, 34, 64);
  animation: wheelBackgroundColor 12s infinite;
}
@keyframes wheelBackgroundColor {
  from, to { background-color: rgba(0, 9, 134, 0.88); }
  10%      { background-color: rgb(0, 39, 22); }
  20%      { background-color: rgba(0, 39, 102, 0.919); }
  30%      { background-color: rgb(0, 28, 47); }
  40%      { background-color: rgba(3, 52, 85, 0.879); }
  50%      { background-color: rgba(0, 47, 39, 0.869); }
  60%      { background-color: rgba(0, 60, 47, 0.892); }
  70%      { background-color: rgb(0, 42, 55); }
  80%      { background-color: rgba(43, 0, 73, 0.894); }
  90%      { background-color: rgba(48, 0, 106, 0.861); }
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.nav-bar ul li {
  font-size: 2rem;
  margin: 10px;
  padding: 5px;
  background-color: rgba(9, 4, 43, 0.707);
  border-radius: 10px;
}
.loggedin {
  display: flex;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  font-size: 1.5rem;
  color: white;
}
.displayed-rooms-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.single-room-displayed {
  background-color: antiquewhite;
  color: black;
  border: 1px solid white;
  border-radius: 20px;
  height: 220px;
  width: 220px;
  margin: 5px;
}
.price {
  color: green;
  font-weight: bold;
}
.single-room-displayed h1 {
  font-size: 1.9rem;
}
.single-room-displayed p {
  color: red;
  font-size: 1.2rem;
}
