.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(rgba(0, 0, 0, 0.832), rgba(3, 39, 171, 0.788));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/*  */

.search-hotels-container {
  display: block;
}
.search-hotels-container h1 {
  font-size: 2.5rem;
}
.single-hotel-displayed {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  background-color: whitesmoke;
  color: rgb(7, 106, 255);
  width: 70%;
  margin: auto;
}
.single-hotel-displayed:hover {
  background-color: azure;
}
.hotel-pic {
  width: 100%;
  height: 300px;
  border-radius: 30px;
}
.search-bar-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid white;
  height: 50px;
}