body {
  background-image: url("../pics/background.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Abel';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(0, 0, 0, 0.139);
  width: 99%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  list-style: none;
}
select {
  height: 100%;
}
label {
  background-color: white;
}
a {
  color: white;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color:rgb(247, 255, 7)
}

/*  */
.main-header {
  font-family: 'Allerta Stencil';
  color: rgb(236,100,75);
  animation: wheelHueColor 10s infinite;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
}

@keyframes wheelHueColor {
  from, to { color: rgb(236,100,75); }
  10%      { color: rgb(219,10,91); }
  20%      { color: rgb(174,168,211); }
  30%      { color: rgb(89,171,227); }
  40%      { color: rgb(37,116,169); }
  50%      { color: rgb(3,201,169); }
  60%      { color: rgb(22,160,133); }
  70%      { color: rgb(233,212,96); }
  80%      { color: rgb(243,156,18); }
  90%      { color: rgb(236,240,241); }
}
@media screen and (max-width: 780px) {
  .main-header {
    font-size: 3.4rem;
  }
}

/*  */
.home-container {
}
.featured-hotels-heading {
  font-family: 'Allerta Stencil';
  font-size: 4rem;
  font-weight: bold;
}
.featured-hotels-container {
  border: 0.5px solid rgba(255, 255, 255, 0.158);
  border-radius: 5px;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.532);
}
.featured-hotels {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.single-featured-hotel {
  text-align: center;
  margin: 10px;
}
.single-featured-hotel p {
  text-align: center;
  margin: 0;
  font-size: 0.9em;
}
.hotel-pic-in-featured-page {
  height: 80%;
  width: 100%;
  border-radius: 20px;
}
.displayed-planets-container {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.single-planet-container {
  height: 350px;
  width: 320px;
  margin: 5px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.773);
  opacity: 90%;
}
.single-planet-container:hover {
  opacity: 100%;
  cursor: pointer;
}
.single-planet-image {
  height: 70%;
  width: 87%;
  border-radius: 20px;
}

.search-hotels-container {
 
  width: 80%;
  margin: auto;
 
}
.search-hotels-container h1 {
  font-size: 2.0rem;
}
.single-hotel-listing-container {
  display: grid;
  grid-template-columns: 33.3% auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.636);
  color: rgb(248, 251, 255);
  margin: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  height: auto;
  box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.499);
}
.image-part {
  height: 100%;
}
.hotel-listing-info {
  text-align: center;
  padding: 40px 0;
}
.hotel-listing-info h1 {
  font-size: 28px;
}
.single-hotel-listing-container:hover {
  background-color: rgba(4, 0, 44, 0.782);
  cursor: pointer;
}
.hotel-pic-in-search-page {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .search-hotels-container {
    width: 100%;
  }
}
@media screen and (max-width: 635px) {
  .single-hotel-listing-container {
    height: 200px;
  }
  .hotel-listing-info {
    text-align: center;
    padding: 0 0;
  }
  .hotel-listing-info h1 {
    font-size: 1.1em;
  }
  .search-bar-container > div, label, select, button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 460px) {
  .search-bar-container {
    
  }
}
/*  */
.hotel-pic-in-show-page {
  width: 60%;
  height: 450px;
  border-radius: 30px;
}
.back-to-search-results-button {
  margin-bottom: 20px;
}
.search-bar-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(black, rgba(0, 0, 25, 0.67));
  flex-wrap: wrap;
  width: 100%;
  min-height: 60px;
  font-size: 1.6em;
}
.search-bar-container > div, select {
  margin-right: 10px;
  margin-left: 10px;
  min-height: 100%;
}
.search-bar-button {
  min-height: 100%;
}
.search-bar-container select {
  height: auto;
}
.date-picker {
  background-color: white;
  height: 100%;
}
.date-picker input {

}
.error-messages {
  color: red;
  font-size: 1.5rem;
}
.nav-bar {
  min-height: 50px;
  background-color: rgb(0, 34, 64);
  animation: wheelBackgroundColor 12s infinite;
}
@keyframes wheelBackgroundColor {
  from, to { background-color: rgba(0, 9, 134, 0.88); }
  10%      { background-color: rgb(0, 39, 22); }
  20%      { background-color: rgba(0, 39, 102, 0.919); }
  30%      { background-color: rgb(0, 28, 47); }
  40%      { background-color: rgba(3, 52, 85, 0.879); }
  50%      { background-color: rgba(0, 47, 39, 0.869); }
  60%      { background-color: rgba(0, 60, 47, 0.892); }
  70%      { background-color: rgb(0, 42, 55); }
  80%      { background-color: rgba(43, 0, 73, 0.894); }
  90%      { background-color: rgba(48, 0, 106, 0.861); }
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.nav-bar ul li {
  font-size: 2rem;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
.loggedin {
  display: flex;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  font-size: 1.5rem;
  color: white;
}
.displayed-rooms-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.single-room-displayed {
  background-color: rgba(0, 0, 0, 0.788);
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.47);
  border-radius: 20px;
  height: 220px;
  width: 220px;
  margin: 5px;
}
.price {
  color: green;
  font-weight: bold;
}
.single-room-displayed h1 {
  font-size: 1.9rem;
}
.single-room-displayed p {
  color: red;
  font-size: 1.2rem;
}
/* confirmation booking page */
.confirmation-container {
  color: white;
  background-color: rgba(0, 0, 0, 0.783);
  width: 92%;
  margin: auto;
}
.confirmation-container p {
  font-size: 30px;
  background-color: #008814e9;
  color: rgb(255, 255, 255);
  margin: 10px;
}
.hotel-pic-in-confirm-page {
  width: 72%;
  height: 600px;
  border-radius: 10px;
}
/* isconfirmed */
.isConfirmed-container {
  background-color: rgba(0, 0, 0, 0.544);
  margin: auto;
  color: white;
}
.isConfirmed-container p {
  font-size: 27px;
}
/* myBookings page */
.myBookings-container {

}
.single-booking-container {
  display: grid;
  grid-template-columns: 33.33% auto;
  grid-gap: 20px;
  border: 1px solid white;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  
  padding: 10px;
  background-color: rgb(255, 254, 243);
  color: black;
  border-radius: 10px;

}
.single-booking-container h1, p {
  font-size: 30px;
}
.hotel-pic-my-bookings-page {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.cancel-reservation-button {
  float: right;
}

/* footer */
.footer {
  display: block;
  font-size: 1.5em;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.647);
  color: white
}
